<!-- views/member/login.ejs -->
<%- include('../partials/header') %>
<div class="container">
    <h2>تسجيل دخول الأعضاء</h2>
    <% if(error) { %>
        <div class="error"><%= error %></div>
    <% } %>
    <form action="/member/login" method="POST">
        <div class="form-group">
            <label for="mobile">رقم الجوال:</label>
            <input type="text" id="mobile" name="mobile" required placeholder="أدخل رقم الجوال">
        </div>
        <div class="form-group">
            <label for="invoice">رقم الطلب:</label>
            <input type="text" id="invoice" name="invoice" required placeholder="أدخل رقم الطلب">
            <!-- إضافة رابط للتواصل عبر واتساب في حال نسيان رقم الطلب -->
            <p>‪
                نسيت رقم الطلب؟
                <a href="https://wa.me/966544403948?text=السلام%20عليكم%20أحتاج%20مساعدة%20في%20استرجاع%20رقم%20الطلب" target="_blank">
                    تواصل معنا عبر واتساب
                </a>
            </p>
        </div>
        <button type="submit">تسجيل الدخول</button>
    </form>
</div>
<%- include('../partials/footer') %>
